* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Yu Gothic', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: -8px;
}

video {
    width: 100%;
    margin-bottom: -8px;
}

ul,
ol,
li {
    list-style: none;
}

nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 20px;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

#header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19)
}

#header .container {
    background-color: white;
    position: relative;
    z-index: 999;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    transition: 0.3s ease;
}

.header-logo {
    max-width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#gnavi .gnavi-main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#gnavi .gnavi-main li {
    line-height: 1.4;
}

#gnavi .gnavi-main>li>a,
#gnavi .gnavi-main>li>span {
    padding: 1.5em 0.8em;
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    color: #2D2D2D;
}

#gnavi .gnavi-main>li>a,
#gnavi .gnavi-main>li>span {
    padding: 1.5em 0.8em;
    display: block;
    cursor: pointer;
    position: relative;
}

#gnavi li:hover>a {
    background: #006DDA;
    color: #fff;
    transition: all 0.2s ease;
}

.toggle {
    background: #006DDA;
    display: none;
    position: relative;
    width: 52px;
    cursor: pointer;
    padding: 11px;
}

.toggle div {
    position: relative;
    width: 100%;
}

.toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

.toggle span:nth-child(1) {
    top: 4px;
}

.toggle span:nth-child(2) {
    top: 14px;
}

.toggle span:nth-child(3) {
    top: 24px;
}

.main-video {
    width: 100%;
    position: relative;
    margin-top: 60px;
}

.main-video video {
    height: calc((100vh - 60px) / 2);
    object-fit: cover;
}

marquee {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    transform: translateY(-50%);
}

#mainpage .feature-products {
    padding-top: 50px;
}

#mainpage .feature-products .title h2 {
    font-size: 48px;
    text-align: center;
    color: #06AD02;
    font-weight: bold;
}

#mainpage .feature-products .title h5 {
    text-align: center;
    font-size: 20px;
    color: #2D2D2D;
    font-weight: bold;
    font-style: italic;
}

#mainpage .feature-products .content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#mainpage .feature-products .content .product-box {
    border: 1px solid #006DDA;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.1s ease;
}

.product-box:hover {
    transition: 0.1s ease;
    transform: scale(1.01);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

#mainpage .feature-products .content .product-box img {
    width: 300px;
    height: 240px;
    object-fit: cover;
}

#mainpage .feature-products .content .product-box .text-bg {
    background-color: #006DDA;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mainpage .feature-products .desc h3 {
    color: #ffffff;
    font-size: 20px;
}

#mainpage .feature-products .desc h4 {
    color: #ffffff;
    font-size: 16px;
}

#mainpage .feature-products .arrow i {
    color: #ffffff;
    font-size: 30px;
}

#mainpage .products {
    margin-top: 100px;
    width: 100%;
    height: 540px;
    background-image: url(../img/products/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-inline: 8%;
}

#mainpage .products .title h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

#mainpage .products .title h5 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#mainpage .products .content {
    margin-top: 30px;
}

#mainpage .products .product-box {
    width: 350px;
}

#mainpage .products .product-box img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

#mainpage .products .product-box .text-bg {
    background-color: #3A58C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    color: #ffffff;
}

#mainpage .solution {
    padding-top: 100px;
}

#mainpage .solution .title h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #06AD02;
}

#mainpage .solution .title h5 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #2D2D2D;
}

#mainpage .extra-link {
    width: 100%;
    background-color: #F3F5FA;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#mainpage .extra-link .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#mainpage .extra-link img {
    height: 34px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mainpage .google {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#mainpage .other-site {
    width: 300px;
    margin: 10px;
}

#mainpage .other-site div {
    margin: 20px;
}

#mainpage .google-search {
    width: 40%;
    margin: 10px;
    min-width: 510px;
}

#mainpage .google-search a img {
    width: 184px;
    height: auto;
}

#mainpage .google-search .option {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainpage .google-search .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainpage .google-search .row:nth-of-type(2) {
    margin-top: 20px;
    width: 100%;
}

#mainpage .google-search .row .input {
    width: 60%;
}

#mainpage .google-search .row .input input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #2D2D2D;
    padding-inline: 5px;
}

#mainpage .google-search .row .submit {
    width: 30%;
}

#mainpage .google-search .row .submit button {
    width: 100%;
    height: 40px;
    background-color: #006DDA;
    border: 1px solid #006DDA;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    min-width: 110px;
}

#mainpage .google-search .row .submit button:hover {
    background-color: #0058b1;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #2D2D2D;
    font-weight: bold;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #006DDA;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#mainpage .contact {
    padding-top: 50px;
}

#mainpage .contact .title h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #06AD02;
}

#mainpage .contact .title h5 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2D2D2D;
    font-style: italic;
}

#mainpage .contact .title p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #2D2D2D;
    word-wrap: break-word;
}

#mainpage .contact .title p:first-of-type {
    margin-top: 10px;
}

#mainpage .contact .content {
    width: 100%;
    margin-top: 20px;
}

#mainpage .contact .content .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mainpage .contact .content p {
    font-size: 14px;
    color: #2D2D2D;
    font-weight: bold;
}

#mainpage .contact .content .row .col-6 {
    width: 50%;
    padding: 10px;
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainpage .contact .content .row .col-6:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

#mainpage .contact .content .row .col-3 {
    width: 25%;
    padding: 10px;
}

.form-control {
    width: 100%;
    height: 40px;
    padding-inline: 10px;
    font-size: 14px;
    /* border-radius: 5px;
    outline: none;
    border: 1px solid #2D2D2D; */
}

.col-6.radio {
    justify-content: center !important;
    align-items: flex-start !important;
    flex-direction: column !important;
}

#mainpage .contact .content .row .search-btn {
    height: 40px;
    padding-inline: 15px;
    background-color: #006DDA;
    color: #ffffff;
    font-size: 15px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#mainpage .contact .content .row .search-btn:hover {
    background-color: #0058b1;
}

.form-select {
    height: 40px;
    width: 50%;
    /* min-width: 100px; */
}

#mainpage .contact .content .row textarea {
    padding: 10px;
    font-size: 16px;
}

.submit-btn {
    height: 40px;
    padding-inline: 15px;
    background-color: #006DDA;
    color: #ffffff;
    font-size: 15px;
    border: 0;
    margin: 20px auto;
    cursor: pointer;
}

.footer {
    margin-top: 20px;
    background-color: #006DDA;
}

.footer-logo {
    width: 250px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo img {
    width: 100%;
}

.footer hr {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

.footer .container:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer .footer-menu {
    width: 260px;
}

.footer h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.footer .content {
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .content .col:first-of-type {
    margin-right: 20px;
}

.footer .address .content, .footer .phone .content {
    flex-direction: column;
    align-items: flex-start;
}

.footer .content a, .footer .content p {
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer .copyright {
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer .copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}



@media(max-width: 768px) {
    /* html {
        font-size: 0.1302083333333333vw;
    } */

    .toggle-active .toggle+#gnavi {
        overflow-y: auto;
    }

    .main-video {
        margin-top: 52px;
    }

    #gnavi {
        background-color: #fff;
        display: none;
        width: calc(100% - 20px);
        height: calc(100vh - 40px);
        position: absolute;
        top: 100%;
        padding: 20px;
        padding-left: 0;
        left: 0;
        width: 100%;
    }

    #gnavi .gnavi-main {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: stretch;
        align-items: stretch;
    }

    #gnavi .gnavi-main>li {
        text-align: left;
    }

    .toggle {
        display: inline-flex;
        position: relative;
    }

    .toggle-active .toggle span:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(-45deg);
        transform: translateY(10px) rotate(-45deg);
    }

    .toggle-active .toggle span:nth-child(2) {
        opacity: 0;
    }

    .toggle-active .toggle span:nth-child(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-20px) rotate(45deg);
        top: 34px;
    }

    #mainpage .feature-products .content {
        justify-content: space-around;
    }

    #mainpage .products .product-box {
        width: 300px;
    }

    #mainpage .contact .content .row .col-6 {
        width: 100%;
        padding-inline: 5px;
    }

    #mainpage .contact .content .row .col-6:first-of-type {
        align-items: flex-start;
    }

    #mainpage .contact .content .row {
        flex-direction: column;
    }

    .postal {
        width: 50% !important;
    }

}

@media(max-width: 799px) {
    #mainpage .google-search {
        width: 80%;
    }

    #mainpage .google-search .row {
        justify-content: center;
        flex-direction: column;
    }

    #mainpage .google-search .row .submit button {
        margin-top: 20px;
    }
}