.section_bg {
  margin-top: 70px;
  background-image: url('../img/common/bg.jpg');
  background-position: center;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Text-control */
.font-white {
  color: white;
}

.font-bold {
  font-weight: bold;
}

.font-40 {
  font-size: 40px;
}

.font-24 {
  font-size: 24px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.section_breadcrumb {
  background-color: #eee;
}

/* breadcrumb */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  color: #000;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #000;
  content: ">";
}

ul.breadcrumb li a {
  color: #2d2d2d;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.sectionOne {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.sectionOne .left {
  padding: 10px 30px;
  background-color: #000;
  width: 50%;

}

.sectionOne .right {
  width: 50%;

}

.sectionOne .right img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitleBar {
  margin-top: 20px;
  background-image: linear-gradient(to right, rgb(22, 89, 156, 13%), rgb(0, 109, 218, 82%));
}

.sectionTitleBar .color {
  color: #af0000;
}

.sectionTitleBar p {
  padding-left: 20px;
}

.content_text,
.content_item {
  margin-top: 20px;
}

.content_text p {
  word-wrap: break-word;
}

.content_img {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_img p {
  margin-top: 20px;
}

.content_text ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.content {
  margin-top: 20px;
}

.circle {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #006DDA;
}

.row,
.row02 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.row .left {
  width: 30%;
}

.row02 .left,
.row02 .right {
  width: 50%;
}

.row .right {
  width: 50%;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 02 */
.rect {
  margin-right: 10px;
  background-color: #000;
  width: 10px;
  height: 10px;
}

.content_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.content_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.content_img img {
  margin-bottom: unset;
  width: 83%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.s_300 {
  width: 300px !important;
}

@media(max-width:1200px) {}

@media(max-width:768px) {
  .sectionOne {
    flex-direction: column-reverse;
  }

  .sectionOne .left,
  .sectionOne .right {
    width: 100%;
  }

  .font-40 {
    font-size: 30px;
  }

  .font-24 {
    font-size: 20px;
  }

  .font-20 {
    font-size: 16px;
  }

  .font-18 {
    font-size: 14px;
  }

  .sectionOne .left {
    margin-top: 20px;
  }

  .row,
  .row02 {
    flex-direction: column;
  }

  .content_img img {
    width: 100% ;
  }

  .row .left,
  .row .right,
  .row02 .left,
  .row02 .right {
    width: 100%;
  }

  .row .right,
  .row02 .right {
    margin-top: 20px;
  }

  .s_300 {
    width: 150px !important;
  }

}